

.search-icon {
  width: 35px;
  height: 27px;
  margin: 7px;
}

.search-input {
    width: 100%;
    height: 38px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
    outline: none;
}

.search-button {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4285f4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #357ae8;
}

.search-container {
    display: flex;
    /* width: 38%; */
    /* margin: auto; */
}

.search-icon-container {
    /* margin: auto; */
    background-color: darkslateblue;
    /* border-color: bisque; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 2px 2px 0px;
}
h1 {
    color: blueviolet;
    font-size: xxx-large;
    font-weight: 200;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
  
.radio-buttons label {
    display: flex;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    font-size: larger;
    font-weight: 200;
}
  .radio-buttons input[type="radio"] {
    display: none;
  }
  
  .search-page {
    margin-top: 5%;
}
  
  .radio-buttons label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .radio-buttons input[type="radio"]:checked + label::before {
    background-color: #4285f4;
  }
  
  .search-dropdown {
    position: absolute;
    margin: auto;
    top: 58%;
    width: 37.9%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
  
.search-dropdown-item {
    font-weight: 500;
    /* border-bottom: 1px solid lightgray; */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: start;
}
a {
  text-decoration: none;
  color: inherit;
  }

.search-dropdown-item-history {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

  .search-dropdown-item:hover {
    background-color: #f0f0f0;
  }

.delete-history {
    color: #483d8b;
    font-size: small;
  }
  .search-dropdown {
    position: absolute;
    top: calc(100% + -233px);
    left: 0;
    width: calc(100% - 3px);
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    /* border-top: none; */
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
  .search-input-dropdown-wrapper {
    width: 38%; /* Ensure the wrapper matches the input box width */
    margin: auto;
    position: relative; /* Ensure proper positioning of the dropdown */
  }
.footer {
  background-color: #654582;
  padding: 20px 0;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer p {
    font-size: 10px;
    color: #fff;
    font-weight: 300;
}
  .filters-wrapper label {
    font-weight: 200;
}
.filter-container {
  display: flex;
  flex-direction: column;
}
.show-more-button button {
  padding: 8px;
  width: max-content;
  background-color: #7624c3;
  color: #fff;
  border-radius: 4px;
  border: 0px;
  font-size: 10px;
}
.show-more-button {
  margin-top: 10px;
}
span.filter-text {
  margin-top: 10px;
}
.year-filter {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  /* position: fixed; */
  top: 44%;
  min-width: 37%;
}
.dt-picker {
  display: flex;
  font-weight: 200;
}
.dt-picker span {
  margin-right: 10px;
  font-weight: 400;
}
.filters-wrapper {
  margin-top: 10px;
}